body {
    margin: 0px;
    background-color: black;
}

.containercomedy {
    display: grid;
    grid-template-columns: 10% 27% 27% 27% 10%;
    grid-template-rows: 110px 300px 70px 1fr;
    background-color: black;
    margin: 15px;
    border-color: black;
}

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
}

.logo img {
    width: 100%;
}

.botones {
    grid-column: 3/5;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.clicked {
    padding: 25px;
    color: white;
    background-color: #28aec1;
    border: 2px;
    border-style: solid;
    font-size: 20px;
    position: relative;
    top: 30px;
}

.unclicked {
    padding: 25px;
    text-align: center;
    color: white;
    background-color: #28c199;
    border: 2px;
    border-style: solid;
    margin-bottom: 20px;
    font-size: 20px;
    position: relative;
    top: 30px;
}

.frase {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 18px;
    color: white;
    font-style: oblique;
}

.carousel {
    position: relative;
    grid-column: 2/5;
    grid-row: 2/3;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.noticias {
    grid-column: 2/3;
    grid-row: 3/4;
    color: white;
}

.eventos { 
    grid-column: 4/5;
    grid-row: 3/4;
    color: white;
}

.cartel {
    grid-column: 3/4;
    grid-row: 3/4;
    margin: 10px;
}

.titular {
    grid-column: 2/5;
    grid-row: 3/4;
    color: white;
}

.locales {
    grid-column: 2/5;
    grid-row: 4/5;
    color: white;
}

.comicos {
    grid-column: 2/3;
    grid-row: 4/5;
    color: white
}

.comicos2 {
    grid-column: 3/4;
    grid-row: 4/5;
    color: white;
}

.comicos3 {
    grid-column: 4/5;
    grid-row; 4/5;
    color: white;
}

p {
    color: white;
    width: 85%;
}

h1 {
    text-decoration-line: underline;
    text-align: center;
}


.nuevos {
    grid-column: 2/3;
    grid-row: 4/5;
    color: white;
    text-align: center;
    text-decoration-line: underline;
}

.viejos {
    grid-column: 3/4;
    grid-row: 4/5;
    color: white;
    text-align: center;
    text-decoration-line: underline;
}

.variados {
   grid-column: 4/5;
    grid-row: 4/5;
    color: white;
    text-align: center;
    text-decoration-line: underline;
}

.contacto {
    grid-column: 2/4;
    grid-row: 4/5;
    color: white;
}

.imgcontacto {
    grid-column: 4/5;
    grid-row: 4/5;
}


.contacto h3 {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
}

.gif {
    grid-column: 2/3;
    grid-row: 4/5;
    position: relative;
    top: -400px;
    width: 50%;
}